{% extends "_layouts/main"%}
{% block main %}
	<section class="heading-banner-area pt-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-banner">
						<div class="breadcrumbs">
							<ul>
								<li>
									<a href="/">
										Home
									</a>
									<span class="breadcome-separator">
										>
									</span>
								</li>
								<li>
									FAQ
								</li>
							</ul>
						</div>
						<div class="heading-banner-title">
							<h1>
								FAQ
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="frequently-question mt-20">
		<div class="container">
			<div
				class="row">
				<!--Frequently Content Start-->
				<div class="col-lg-12">
					<div class="frequently-content mb-50">
						<div class="frequently-title">
							<h4>
								Whether looking for fire truck parts, bells parts, firefighting tools or just more information, these are some of the most frequently asked questions we receive.
							</h4>
						</div>
					</div>
				</div>
				<!--Frequently Content End-->
			</div>
			<div
				class="row">
				<!--Frequently Accordion Start-->
				<div class="col-lg-12">
					<div class="goroup-accrodion mb-60">
						<div
							class="accordion" id="accordionExample">
							<!--Single Accrodion Start-->
							<div class="card active">
								<div class="card-header">
									<h4 class="card-title">
										<a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Why do fire trucks have bells?
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										The bell started out as the signal or modern day siren. Over time, a tradition developed where the bell was removed from an inservice piece of equipment being retired and placed on the new piece of equipment being placed in service. The bell symbolizes the fire company, its equipment and the men and women who have served the company. The bell is also used to honor a fallen firefighter.
									</div>
								</div>
							</div>
							<!--Single Accrodion End-->
							<!--Single Accrodion Start-->
							<div class="card panel-default">
								<div class="card-header">
									<h4 class="card-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											What is a fire hose valve?
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										A valve is used to control the flow of water from the fire hose. There are many uses for a valve including filling a truck or portable tank.
									</div>
								</div>
							</div>
							<!--Single Accrodion End-->
							<!--Single Accrodion Start-->
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											What size are fire hydrant connections?
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										Fire hydrant connections come in various sizes. Typical sizes are 2.5 inches and 4 inches but various sizes are available to fit a city’s fire hydrants.
									</div>
								</div>
							</div>
							<!--Single Accrodion End-->
							<!--Single Accrodion Start-->
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											What thread is on a fire hydrant?
										</a>
									</h4>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
									<div class="card-body">
										The thread on a fire hydrant is determined by the city where the hydrant resides. A very common thread is National Standard Thread (NST). Some cities adapted their own “special” thread for their hydrants to deter people from stealing water. The special thread is slightly larger or may have more or fewer threads per inch.
									</div>
								</div>
							</div>
							<!--Single Accrodion End-->
							<!--Single Accrodion Start-->
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											What type of thread is on a fire hose?
										</a>
									</h4>
								</div>
								<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
									<div class="card-body">
										Fire hose will generally be National Standard Thread (NST) or National Hose (NH) thread. When a fire truck is built, the National Fire Protection Association (NFPA) standard is all connections terminate to NST.  Should a city have a special thread on their hydrant, the city will use an adapter on the hydrant if their hose is NST.
									</div>
								</div>
							</div>
							<!--Single Accrodion End-->
							<!--Single Accrodion Start-->
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											What is a fire hydrant wrench called?
										</a>
									</h4>
								</div>
								<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
									<div class="card-body">
										There are many types of wrenches used in fire service. Some are used for hydrants and others to couple hoses together.  Common names for these wrenches include hydrant wrench and spanner wrench.
									</br>
									Hydrant wrenches can be adjustable to accommodate different size pentagonals which are what turns the water on and off at the hydrant.  Spanner wrenches are more commonly used for couplings and can be rigid or folding pocket-style.
								</div>
							</div>
						</div>
						<!--Single Accrodion End-->
						<!--Single Accrodion Start-->
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">
									<a class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
										How long is a fire hydrant wrench?
									</a>
								</h4>
							</div>
							<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
								<div class="card-body">
									There is no standard sized hydrant wrench. The length will vary between manufacturers.  Normally a hydrant wrench will be longer than 12 inches but not longer than 22 inches.
								</div>
							</div>
						</div>
						<!--Single Accrodion End-->
						<!--Single Accrodion Start-->
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">
									<a class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
										What are fire hose couplings made of?
									</a>
								</h4>
							</div>
							<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
								<div class="card-body">
									The two most common materials used to make fire hose couplings are brass and aluminum.  Other materials used to make fire hose couplings include plastic and stainless steel.
								</div>
							</div>
						</div>
						<!--Single Accrodion End-->
					</div>
				</div>
			</div>
			<!--Frequently Accordion End-->
		</div>
	</div>
</section>{% endblock %}
